body,
html {
  height: 100%;
  min-height: -webkit-fill-avaible;
  margin: 0;
}
section {
  scroll-behavior: smooth;
}
.hidden {
  display: none !important;
}
.rel {
  position: relative;
}
.animate__animated.animate__fadeIn {
  --animate-duration: 5s;
}
.animate__animated.animate__fadeInLeft {
  --animate-duration: 2s;
}
:root {
  --white: #ffffff;
  --bodt: #fcfcfc;
  --black: #000000;
  --teal: #9fd3c7;
  --red: rgb(197, 14, 14);
  --redA: rgb(255, 0, 0);
  --blue: #3264a1;
  --ocean: #0956fc;
  --bg: rgb(0, 0, 0);
  --dark-color: hsl(var(--hue), 100%, 9%);
  --light-color: hsl(var(--hue), 95%, 98%);
  --base: hsl(var(--hue), 95%, 50%);
  --complimentary1: hsl(var(--hue-complimentary1), 95%, 50%);
  --complimentary2: hsl(var(--hue-complimentary2), 95%, 50%);

  --font-family: "Poppins", system-ui;

  --bg-gradient: linear-gradient(
    to bottom,
    hsl(var(--hue), 95%, 99%),
    hsl(var(--hue), 95%, 84%)
  );
  --ligthpurp: #c3b2e7;
  --yellowjo: #fedf6f;
  --salmon: #f9a474;
  --lightblue: #b8cedc;
  --lightgrteen: #c9da8f;
  --rose: #f682a5;
}

.fa-solid {
  color: var(--redA) !important;
  font-size: 28px;
}
.navbar-nav {
  margin-left: auto;
  padding-right: 120px;
}
.nav-item {
  padding-right: 50px;
}
.navbar-brand {
  padding-left: 30px;
}
.black {
  background-color: black;
  width: 100%;
  height: 100%;
}
.navbar {
  /*background-color: black !important;*/
  z-index: 20;
}
.none {
  background: none !important;
}
.nav-black {
  background-color: #0f0f0f !important;
}
/*.nav-link {
  color: #03717d !important;
  font-family: monaco, monospace !important;
}*/
.nav-link:hover {
  color: var(--redA) !important;
}
.nav-link:hover .sign {
  color: var(--white) !important;
}
.nav-link p {
  display: inline !important;
}
.sign {
  color: var(--redA) !important;
  font-family: monaco, monospace !important;
}
.nav-l.active {
  color: var(--redA) !important;
}

.nav-item.servizi {
  padding-right: 0px !important;
}
.full-vh {
  height: calc(var(--vh, 1vh) * 100);
}
.navy {
  background-color: var(--bodt);
}
.d {
  background-color: #194484;
}
.e {
  background-color: #136cf2;
}
.b {
  background-color: black;
}
.nav-l {
  font-family: monaco, monospace !important;
  color: var(--white) !important;
}

@media (min-width: 1200px) {
  .bg-parallax {
    background-image: url(../images/pawel-czerwinski-W10XfpqLu4Y-unsplash.jpg);
    background-color: black;
    background-attachment: fixed !important;
  }
}
@media (max-width: 600px) {
  .bg-parallax {
    background-color: black;
    background-image: url(../images/pawel-czerwinski-W10XfpqLu4Y-unsplash.jpg);
  }
}
.bg {
  background-image: url(../images/eastman-childs-CEtIM994vaI-unsplash.jpg);
}
.bg-overlay::before {
  content: "";
  overflow: hidden;
  display: inline-block;
  min-height: 100%;
  left: 0;
  top: 0;
  position: absolute;
  width: 100%;
}
.bg-overlay-dark::before {
  background-color: rgba(0, 0, 0, 0.36);
  overflow: hidden;
  background-attachment: fixed !important;
}
.bg-parallax {
  background-color: rgb(242, 237, 237);
}
.bg-section {
  width: 100%;
  background-size: cover;
  background-position: center, center;
  z-index: 1;
  overflow: hidden;
}
.bio {
  display: inline;
}

.highlight {
  color: var(--redA) !important;
}

@media (min-width: 1200px) {
  .fixed-top-c {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }
  .hero {
    color: var(--white);
    padding-top: 140px;
    font-size: 60px;
    padding-left: 70px;
    text-transform: uppercase;
  }
  .bio-cont {
    padding-bottom: 80px;
    padding-right: 70px !important;
  }
  .bio {
    color: var(--white);

    font-size: 40px;

    text-transform: uppercase;
  }
  .exp {
    background-color: var(--black) !important;
    border-color: var(--black) !important;
    color: var(--white) !important;
    margin-bottom: 160px;
    font-size: 20px !important;
  }
  .exp:hover {
    background-color: var(--black) !important;
    border-color: var(--redA) !important;
    color: var(--redA) !important;
  }
  .btn {
    border-radius: 0.975rem !important;
  }
  .btn-contact {
    padding-bottom: 120px;
  }
  .close-mb {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .row.row-mb {
    justify-content: center !important;
    align-items: center !important;
    position: absolute;
    left: 10px;
    width: 100%;
  }
  .hero {
    color: var(--white);
    font-size: 30px;
    padding-bottom: 5.5rem !important;
    text-transform: uppercase;
  }
  .bio {
    color: var(--white);

    font-size: 20px;

    text-transform: uppercase;
  }
  .exp {
    background-color: var(--black) !important;
    border-color: var(--black) !important;
    color: var(--white) !important;
    margin-bottom: 8rem !important;
    font-size: 15px !important;
  }
  .exp:hover {
    background-color: var(--black) !important;
    border-color: var(--redA) !important;
    color: var(--redA) !important;
  }
  .btn {
    border-radius: 0.975rem !important;
  }
  .close-mb {
    right: 0;
    position: absolute;
    top: 10px;
  }
  .close {
    display: none !important;
  }
  .card-text-mb {
    display: none !important;
  }
  .hero-service {
    color: var(--black);

    font-size: 40px !important;

    text-transform: uppercase;
  }
}

@media (max-width: 1199px) and (min-width: 810px) {
  .bg-parallax {
    background-color: black;
    background-image: url(../images/pawel-czerwinski-W10XfpqLu4Y-unsplash.jpg);
  }
  .row.row-mb {
    justify-content: center !important;
    align-items: center !important;
    position: absolute;
    left: 10px;
    width: 100%;
  }
  .hero {
    color: var(--white);
    font-size: 60px;
    padding-bottom: 20.5rem !important;
    text-transform: uppercase;
  }
  .bio {
    color: var(--white);

    font-size: 40px;

    text-transform: uppercase;
  }
  .bio-cont {
    padding-bottom: 150px;
  }
  .exp {
    background-color: var(--black) !important;
    border-color: var(--black) !important;
    color: var(--white) !important;
    margin-bottom: 360px;
    font-size: 20px !important;
  }
  .exp:hover {
    background-color: var(--black) !important;
    border-color: var(--redA) !important;
    color: var(--redA) !important;
  }
  .btn {
    border-radius: 0.975rem !important;
  }
  .close-mb {
    display: none !important;
  }
}

@media (max-width: 809px) and (min-width: 601px) {
  .bg-parallax {
    background-color: black;
    background-image: url(../images/pawel-czerwinski-W10XfpqLu4Y-unsplash.jpg);
  }
  .row.row-mb {
    justify-content: center !important;
    align-items: center !important;
    position: absolute;
    left: 10px;
    width: 100%;
  }
  .hero {
    color: var(--white);
    font-size: 50px;
    padding-bottom: 20.5rem !important;
    text-transform: uppercase;
  }
  .bio {
    color: var(--white);

    font-size: 30px;

    text-transform: uppercase;
  }
  .bio-cont {
    padding-bottom: 150px;
  }
  .exp {
    background-color: var(--black) !important;
    border-color: var(--black) !important;
    color: var(--white) !important;
    margin-bottom: 360px;
    font-size: 20px !important;
  }
  .exp:hover {
    background-color: var(--black) !important;
    border-color: var(--redA) !important;
    color: var(--redA) !important;
  }
  .btn {
    border-radius: 0.975rem !important;
  }
  .close-mb {
    display: none !important;
  }
}
.right {
  right: 0 !important;
}
.start {
  position: fixed;
  bottom: 0; /* Nascondi il div sotto la finestra */
  width: 100%;
  right: -100%;
  height: 100%;
  background: var(--bg-gradient); /* Colore di sfondo per il div */
  transition: right 0.5s; /* Animazione del movimento */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}
.end {
  position: fixed;
  bottom: -100%; /* Nascondi il div sotto la finestra */
  width: 100%;
  height: 100%;
  background-color: #ccc; /* Colore di sfondo per il div */
  transition: bottom 0.5s; /* Animazione del movimento */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.orb-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}
.card {
  background: rgba(255, 255, 255, 0.375) !important;
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1) !important;
  border-radius: 2rem !important;
  border: 1px solid rgba(255, 255, 255, 0.125) !important;
}
.card-t {
  display: inline !important;
}
div.card-body i.fa {
  color: #ccd6f6;
  font-size: 28px;
  transition: transform 250ms;
}
div.card-body i.fa:hover {
  color: #06c8de !important;
  transform: translateY(-5px);
}
.card-c {
  background-color: #060a1d !important;
}
.whited {
  font-family: monaco, monospace !important;
  color: #747475 !important;
}
.card-body p.whited {
  display: inline !important;
}
div.card-c {
  transition: transform 250ms;
  height: 286px;
}
div.card-c:hover {
  transform: translateY(-5px);
}
div.card-c:hover > div.card-body > a > h5 {
  color: var(--redA) !important;
}
h5.line::after {
  content: "";
  display: block;
  height: 1.2px;
  border-radius: 20%;
  /*background: linear-gradient(to left, #00bbf5, #9c5ac5, #fc2121);*/
  background-color: var(--redA);
  position: relative;
  top: 10px;
  bottom: 0;
  left: 0;
  right: 0;
}
.service-t {
  color: var(--white) !important;
}
.service-b {
  color: var(--white) !important;
}
.hero-service {
  color: var(--black);

  font-size: 60px;

  text-transform: uppercase;
}
.bio-service {
  color: var(--black);

  font-size: 15px;

  text-transform: uppercase;
}
section.services {
  background-color: var(--bodt);
}
@import url("https://fonts.googleapis.com/css?family=Roboto:700");

#container-flip {
  color: #999;
  text-transform: uppercase;
  font-size: 36px;
  font-weight: bold;
  padding-top: 200px;
  position: absolute;
  width: 100%;
  bottom: 45%;
  display: block;
}

#flip {
  height: 50px;
  overflow: hidden;
}

#flip > div > div {
  color: #fff;
  padding: 0px 12px 4px;
  height: 45px;
  margin-bottom: 45px;
  display: inline-block;
}

#flip div:first-child {
  animation: show 5s linear infinite;
}

#flip div div {
  background: #42c58a;
}
#flip div:first-child div {
  background: #4ec7f3;
}
#flip div:last-child div {
  background: #dc143c;
}

@keyframes show {
  0% {
    margin-top: -270px;
  }
  5% {
    margin-top: -180px;
  }
  33% {
    margin-top: -180px;
  }
  38% {
    margin-top: -90px;
  }
  66% {
    margin-top: -90px;
  }
  71% {
    margin-top: 0px;
  }
  99.99% {
    margin-top: 0px;
  }
  100% {
    margin-top: -270px;
  }
}
/*BentoGrid*/
.bg-col1 {
  background-color: var(--ligthpurp);
  /*background-image: url(../images/alexandru-acea-XEB8y0nRRP4-unsplash.jpg);*/
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  height: 200px;
}
.bg-col2 {
  background-color: var(--rose);
  /*background-image: url(../images/startae-team-7tXA8xwe4W4-unsplash.jpg);*/
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  height: 200px;
}
.bg-col3 {
  background-color: var(--lightgrteen);
  /*background-image: url(../images/eftakher-alam-i1VQZsU86ok-unsplash.jpg);*/
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  height: 350px;
}
.bg-col4 {
  background-color: var(--yellowjo);
  /*background-image: url(../images/abillion-bMTl6uFMONg-unsplash.jpg);*/
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  height: 350px;
}
.bg-col5 {
  background-color: var(--salmon);
  /*background-image: url(../images/luis-villasmil-4V8uMZx8FYA-unsplash.jpg);*/
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  height: 150px;
}
.bg-col6 {
  background-color: var(--lightblue);
  /*background-image: url(../images/campaign-creators-RSc6D7bO0fA-unsplash.jpg);*/
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  height: 150px;
}
div.bento {
  transition: transform 250ms;
  border-radius: 20px;
}
div.bento:hover {
  transform: translateY(-5px);
}
@media (min-width: 768px) {
  .offset-1-cs {
    margin-left: 2%;
  }
}
@media (max-width: 767px) {
  .bento {
    height: 400px !important;
  }
}
/*BentoGrid*/
body {
  scroll-behavior: none;
}

.title {
  font-size: max(2vw, 24px);
  line-height: 1.1;
  padding-bottom: 0.4em;
  color: rgb(255, 255, 255);
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

.text {
  font-size: max(1vw, 15px);
  line-height: 1.4;
  overflow: hidden;
  padding-bottom: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.accordions {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20vh;
}

.accordion {
  background: linear-gradient(
    200deg,
    rgb(29, 145, 252) 13.57%,
    rgb(90, 54, 192) 98.38%
  );
  width: max(50vw, 280px);
  padding: 25px 30px 10px;
  border-radius: 15px;
  margin-bottom: 40px;
  box-shadow: 0 30px 30px -10px rgba(0, 0, 0, 0.3);

  &:nth-child(2) {
    background: linear-gradient(
      200deg,
      rgb(242, 136, 133) 13.57%,
      rgb(233, 79, 102) 98.38%
    );
  }

  &:nth-child(3) {
    background: linear-gradient(
      200deg,
      rgb(101, 187, 118) 13.57%,
      rgb(70, 111, 171) 98.38%
    );
  }

  &:nth-child(4) {
    background: linear-gradient(200deg, #c215d1 13.57%, #9813a1 98.38%);
  }
}

.spacer {
  height: 0vh;
}

@media (max-width: 480px) {
  .accordion {
    padding: 15px 20px 8px;
  }
  .title {
    font-size: 20px;
  }
}
