body,
html {
  height: 100%;
  min-height: -webkit-fill-avaible;
  margin: 0;
}
section {
  scroll-behavior: smooth;
}
.rel {
  position: relative;
}
:root {
  --white: #ffffff;
  --bodt: #fcfcfc;
  --black: #000000;
  --teal: #9fd3c7;
  --red: rgb(197, 14, 14);
  --redA: rgb(255, 0, 0);
  --blue: #3264a1;
  --ocean: #0956fc;
  --bg: rgb(0, 0, 0);
}
.fa-solid {
  color: var(--redA) !important;
  font-size: 28px;
}
.navbar-nav {
  margin-left: auto;
  padding-right: 120px;
}
.nav-item {
  padding-right: 50px;
}
.navbar-brand {
  padding-left: 30px;
}
.black {
  background-color: black;
  width: 100%;
  height: 100%;
}
.navbar {
  /*background-color: black !important;*/
  z-index: 20;
}
.none {
  background: none !important;
}
.nav-black {
  background-color: #0f0f0f !important;
}
/*.nav-link {
  color: #03717d !important;
  font-family: monaco, monospace !important;
}*/
.nav-link:hover {
  color: var(--redA) !important;
}
.nav-link:hover .sign {
  color: var(--white) !important;
}
.nav-link p {
  display: inline !important;
}
.sign {
  color: var(--redA) !important;
  font-family: monaco, monospace !important;
}
.nav-l.active {
  color: var(--redA) !important;
}

.nav-item.servizi {
  padding-right: 0px !important;
}
.full-vh {
  height: calc(var(--vh, 1vh) * 100);
}
.navy {
  background-color: var(--bodt);
}
.d {
  background-color: #194484;
}
.e {
  background-color: #136cf2;
}
.b {
  background-color: black;
}
.nav-l {
  font-family: monaco, monospace !important;
  color: var(--white) !important;
}

@media (min-width: 1200px) {
  .bg-parallax {
    background-image: url(../images/astratto-splash-colorato-sfondo-3d-sfondo-ai-generativo.jpg);
    background-color: black;
    background-attachment: fixed !important;
  }
  .bg-overlay::before {
    content: "";
    overflow: hidden;
    display: inline-block;
    min-height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
  }
  .bg-overlay-dark::before {
    background-color: rgba(0, 0, 0, 0.36);
    overflow: hidden;
    background-attachment: fixed !important;
  }
}

.bg-parallax {
  background-color: rgb(242, 237, 237);
  background-attachment: fixed !important;
}
.bg-section {
  width: 100%;
  background-size: cover;
  background-position: center, center;
  z-index: 1;
  overflow: hidden;
}
.bio {
  display: inline;
}

.highlight {
  color: var(--redA) !important;
}
#blurredDiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("https://via.placeholder.com/1920x1080");
  background-size: cover;
  filter: blur(0); /* Inizialmente nessuna sfocatura */
  transition: filter 0.3s ease-out; /* Transizione per l'effetto blur */
}

@media (min-width: 1200px) {
  .hero {
    color: var(--white);
    padding-top: 140px;
    font-size: 60px;
    padding-left: 70px;
    text-transform: uppercase;
  }
  .bio-cont {
    padding-bottom: 80px;
    padding-right: 70px !important;
  }
  .bio {
    color: var(--white);

    font-size: 40px;

    text-transform: uppercase;
  }
  .exp {
    background-color: var(--black) !important;
    border-color: var(--black) !important;
    color: var(--white) !important;
    margin-bottom: 160px;
    font-size: 20px !important;
  }
  .exp:hover {
    background-color: var(--black) !important;
    border-color: var(--redA) !important;
    color: var(--redA) !important;
  }
  .btn {
    border-radius: 0.975rem !important;
  }
  .btn-contact {
    padding-bottom: 120px;
  }
}

@media (max-width: 500px) {
  .row.row-mb {
    justify-content: center !important;
    align-items: center !important;
  }
  .hero {
    color: var(--redA);
    font-size: 30px;
    padding-bottom: 5.5rem !important;
    text-transform: uppercase;
  }
  .bio {
    color: var(--white);

    font-size: 20px;

    text-transform: uppercase;
  }
  .exp {
    background-color: var(--black) !important;
    border-color: var(--black) !important;
    color: var(--white) !important;
    margin-bottom: 8rem !important;
    font-size: 15px !important;
  }
  .exp:hover {
    background-color: var(--black) !important;
    border-color: var(--redA) !important;
    color: var(--redA) !important;
  }
  .btn {
    border-radius: 0.975rem !important;
  }
}
